small {
	font-size: 60%;
}

.eggs {
	display: flex;
	width: 72px;
	height: 72px;
	background: steelblue;
	border-radius: 10%;
	color: white;
}

.eggs p {
	margin: auto;
	text-align: center;
	line-height: 24px;
}

.eggs strong {
	display: block;
	font-size: 26px;
}

.eggs span {
	display: block;
}

.pagination {
	overflow-x: auto;
}