.alert-container {
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	z-index: 2000;
}

.alert {
	margin: auto;
	margin-bottom: 10px;
}

.selectAllInput {
	display: inline-block;
	bottom: 5px;
}

.selectAllSubmit {
	position: relative;
	bottom: 8px;
	left: 20px;
	display: inline-block;
}

table {
	min-width: 100%;
}

thead {
	border-bottom: solid lightgrey 1px;
}

thead td {
	white-space: nowrap;
}

thead img {
	position: relative;
	right: 10px;
}