body {
	padding-bottom: 50px;
}

footer {
	position: fixed;
	bottom: 0;
	background: black;
	right: 0;
	left: 0;
	text-align: right;
	color: white;
	height: 30px;
	display: flex;
	z-index: 2;
}

footer p {
	margin: auto;
}

footer a, footer a:hover {
	color: white;
}

footer img {
	width: 20px;
	vertical-align: text-bottom;;
}