body {
	background-color: rgb(240, 240, 240);
}

i {
	vertical-align: middle;
	margin: auto;
	position: relative;
	bottom: 2px;
}

.ilittle {
	font-size: 18px;
	vertical-align: sub;
}

#welcome {
	position: fixed;
	top: 10px;
	z-index: 1000;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.modal {
	padding-right: 0 !important;
}

.editable {
	text-decoration: underline dashed;
}

.even:nth-of-type(2n) {
	background: gainsboro;
	background: rgba(0,0,0,0.05);
}