body {
	padding-top: 150px;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	z-index: 1000;
	top: 0;
	padding: 10px 2vw;
	transition: all 0.5s ease-out;
}

.popover {
	max-width: max-content;
}

#logo {
	display: flex;
	margin: auto;
	margin-left: 0;
	flex-direction: column;
}

#logo a {
	margin: auto;
}

#logo img {
	width: 92px;
	margin: auto;
}

#logo span {
	margin: auto;
	font-size: 1.3em;
	font-family: 'Comfortaa', Sans-Serif;
	font-weight: bold;
	text-align: center;
}

#navigation {
	margin: auto;
	margin-right: 15px;
}

#navigation a {
	margin: auto;
}

#popover-navigation .grid {
	display: inline-block;
	text-align: center;
	padding: 7px;
	margin: 7px 1px;
	transition: all 0.5s ease-out;
	border: solid white 1px;
	border: solid rgba(255,255,255,0) 1px;
}

#popover-navigation .grid:hover {
	text-decoration: none;
	border: solid gray 1px;
	border: solid rgba(0,0,0,0.2) 1px;
	border-radius: 4px;
}

#popover-navigation .grid > * {
	display: block;
	margin: auto;
}

#popover-navigation .grid img {
	height: 50px;
}

#popover-navigation .grid span {
	color: black;
}

#login {
	margin: auto 0;
}

.container-popover-login {
	display: none;
}

#forgotPassword button[type="submit"] {
	display: flex;
}

#forgotPassword button[type="submit"] .lds-ring {
	margin: auto;
}

#forgotPassword button[type="submit"] strong {
	margin: auto;
	margin-left: 10px;
	font-weight: normal;
}

#profil {
	display: flex;
	margin: auto 0;
}

#profil a {
	margin: auto;
	display: flex;
}

#profil a:hover {
	text-decoration: none;
}

#profil a img {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	object-fit: cover;
}

#profil a i {
	font-size: 5em;
}

#profil a span {
	margin: auto;
	margin-left: 10px;
	color: black;
	line-height: 1.2;
}

#popover-profil .my, #popover-profil .others {
	display: flex;
	margin: 10px;
}

#popover-profil .picture {
	display: flex;
	width: 100px;
	height: 100px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	margin-right: 20px;
	flex-shrink: 0;
	background: #007bff;
}

#popover-profil .picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#popover-profil .picture span {
	background: rgba(0,0,0,.54);
	bottom: 0;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
	left: 0;
	line-height: 9px;
	position: absolute;
	padding: 7px 0;
	text-align: center;
	width: 100%;
}

#popover-profil .informations {
	margin: auto;
}

#popover-profil .informations em {
	font-style: normal;
	color: dimgray;
}

#popover-profil .buttons {
	background: #f5f5f5;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	border-radius: 0 0 .3rem .3rem;
}